.aniheader{
    height: 100vh;
    &.vertical{ // if vertical increase image size
        height: 80vh;
    }
    
    //background-color: var(--main-color);
    position: relative;
    overflow: hidden;   // video edges dont bleed out of the bottom of the video/image
    
    video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        filter: blur(7px) saturate(1.4);
    }

    .info{
        display: flex;                  
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 15%;            &.vertical{ 
            font-size: 1.6vw;
        }
        margin-left: 60px;
        color: white;   

        .left{
            .poster{
                border: 4px solid var(--main-color);
                filter: saturate(1.2);
    
                margin: auto;
                height: 55vh;
                

                &.vertical{ 
                    height: 30vh;
                }
                
                position: relative;
                -o-object-fit: contain;
                object-fit: contain;
    
            }
        }

        .title{
            &.vertical{ 
                font-size: 3.5vh;
            }
            color: #FF4C29;
            margin-left: 50px;
            margin-right: 55px;
            font-size: 5.0vw;
            text-shadow: 5px 5px var(--main-color);
        }

        .desc{
            &.vertical{ 
                font-size: 1.2vh;
            }

            margin-left: 50px;
            margin-right: 55px;

            font-size: 1.3vw;

            max-width: 90%;
            text-shadow: 2px 2px var(--main-color);
        }

        .details{
            padding-top: 10px;
            margin-left: 50px;

            color: #FF4C29;
            list-style: inside;
            font-size: 1.0vw;
            text-shadow: 2px 2px var(--main-color);
            font-weight: bold;

            max-width: 90%;
            

            &.vertical{ 
                font-size: 1.6vw;
            }
        }

        .buttons{
            display: flex;
            margin-left: 50px;

            .removelike-btn{
                &.vertical{ 
                    padding: 5px 10px;
                }
                padding: 10px 20px;
                margin: 10px 0px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                width: auto;
                font-weight: 400px;
                margin-right: 10px;
                cursor: pointer;

                background-color: #FF4C29;
                border: 3px solid var(--main-color);
                color: white;
                transition-duration: 0.4s;
            }

            .like-btn{
                &.vertical{ 
                    padding: 5px 10px;
                }

                padding: 10px 20px;
                margin: 10px 0px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                width: auto;
                font-weight: 400px;
                margin-right: 10px;
                cursor: pointer;
                
                background-color: var(--main-color);
                border: 2px solid #FF4C29;
                color: white;
                transition-duration: 0.4s;
            }


        }

    }
}

.removelike-btn:hover{
    transform: scale(1.1);
    opacity: 1;
}

.like-btn:hover{
    transform: scale(1.1);
    opacity: 1;
}



