.admin-list{
    margin-left: 10px;
    margin-right: 55px;

    .listTitle{
        position: relative; 
        top: 9px;
        color: white;
        font-size: 22px;
        text-shadow: 5px 5px black;
        margin-left: 20px;
    }

    .poster_row{
        display: flex;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px;
        transition: transform 1000ms;
    }

}
